<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
    <title>NFT </title>
</head>
<body>
    <div class="sidenav">
        {% if session.get('user') == None %}
            <a href="/">Home</a>
            <a href="/NFT">NFT</a>
            <a href="/Action">Action</a>
            <a href="/login">Login</a>
        {% else %}
            <a href="/">Home</a>
            <a href="/lk">LK</a>
            <a href="#zatemnenieProfile">Profile</a>
            <a href="/NFT">NFT</a>
            <a href="/Set_Only_NFT">Set NFT</a>
            <a href="/Action">Action</a>
            <a href="/#zatemnenieBuy">Buy Profi</a>
            <a href="/logout">Logout</a>
        {% endif %}
    </div>

    {% if session.get('user') != None %}
        <div>
            <div id="zatemnenieProfile">
                <div id="oknoProfile">
                    <h1>Profile:</h1>
                    <h2>Login:  {{ session["user"][1] }}</h2>
                    <p>Addres account:   {{ session["user"][0] }}</p>
                    <a href="" class="closeProfile">Закрыть</a>
                </div>
            </div>
        </div>
    {% endif %}
    <div>
        <div id="zatemnenieBuy">
            <div id="oknoBuy">
                <h1>Покупка Токенов</h1>
                <form method="post">
                    <input type="text" name="amount" placeholder="amount" title="amount" required>
                    <button type="submit">Купить</button>
                </form>
                <a href="" class="closeBuy">Закрыть</a>
                <div>
                    {% with messages = get_flashed_messages(category_filter='') %}
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                
                </div>
            </div>
        </div>
    </div>
    <main>
        {% block main %}
        {% endblock %}
        <!-- <div>
            <p>Wallet address - <span id="wallet-address"></span></p>
            <p>your address reg:<span id="msg"></span></p>
            <button onclick="signMessage()">Sign Message</button>
        </div> -->

    </main>
    <footer class="footer">
        <p>Copyright &copy; Smolkin Matvey - 2023 year</p>
        {% if session.get('user') != None: %}
            <small>Address Contract:  {{ address_contract }}</small>
        {% endif %}
    </footer>
    <!-- <script>
        var account =null;
        var signature =null;
        var message = "Signing message in wallet...";

        (async () => {
            if (window.ethereum) {
                await window.ethereum.send('eth_requestAccounts');
                window.web3 = new Web3(window.ethereum);

                var accounts = await web3.eth.getAccounts();
                account = accounts[0];
                document.getElementById("wallet-address").innerHTML = account;
            }
        })();
        
        async function signMessage() {
            signature = await web3.eth.personal.sign(message, account);
            console.log("Signature" + signature);
        }
        async function recover() {
            var recoverAddress = await web3.eth.personal.ecRecover(message, signature);
            document.getElementById("wallet-address").innerHTML = recoverAddress;
            console.log("Recover Address: " + recoverAddress);
        }
    </script> -->
</body>
</html>