{% extends 'base.html' %}


{% block main %}

<div class="myNFT">
    <h1>NFT</h1>
    <div class="in-myNFTS">
        {% for Get_All_Sell_NFT in Get_All_Sell_NFT %}
            <div class="in-myNFT">
                <h3>{{ Get_All_Sell_NFT[0]}}</h3>
                {% if session.get('user') != None %}
                    <form method="post" class="lkSell" >
                        <input type="text" name="amount" placeholder="amount" size="5px" required>
                        <button name="id" value="{{Get_All_Sell_NFT[0]}}">Купить {{Get_All_Sell_NFT[0][0]}}</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
<div>
    {% with messages = get_flashed_messages(category_filter='') %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}

</div>


{% endblock %}