{% extends 'base.html' %}


{% block main %}

<div class="myNFT">
    <h1>NFT</h1>
    <div class="in-myNFTS">
        {% for Get_All_Sell_NFT in Get_All_Sell_NFT %}
            <div class="in-myNFT">
                <h3>Name: {{ Get_All_Sell_NFT}}</h3>
                {% if session.get('user') != None %}
                    <form method="post" class="lkSell" >
                        <input type="number" name="amount" placeholder="amount" size="5px" min="1" max="{{Get_All_Sell_NFT[3]}}" required>
                        <button name="id" value="{{Get_All_Sell_NFT[0]}}">Buy</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}