{% extends 'base.html' %}


{% block main %}

<div class="myNFT">
    <h1>NFT for buy</h1>
    <div class="in-myNFTS">
        {% for sellNFT in sellNFT %}
        <div class="in-myNFT">
            <h3>Name:{{ sellNFT[3]['name']}}</h3>
            <a href="#" class="descriptionLink">▽ Description</a>
            <div class="descriptionModal">
                <div class="modalContent">
                    <h1>Description:</h1>
                    <p>{{ sellNFT[3]['description']}}</p>
                    <a href="#" class="closeDescription">Close</a>
                </div>
            </div>
            <p>price: {{sellNFT[3]['price']}}</p>
            <p>amount: {{sellNFT[3]['amount']}}</p>
            <form method="post" class="lkSell">
                <input type="number" name="amount" placeholder="amount" autocapitalize="off" size="5px" max="{{userNFT['amount']}}" required>
                <button name="id" value="{{sellNFT[3]['id']}}">Buy</button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}