{% extends 'base.html' %}


{% block main %}


<form method="post" class="form">
    <h1>Создание NFT</h1>
    <div>
        <input type="text" name="amount" placeholder="amount" required>
    </div>
    <div>
        <input type="text" name="price" placeholder="price" required>
    </div>
    <div class="button">
        <button type="submit" >Создать</button>
    </div>
</form>
<div>
    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}
</div>



{% endblock %}